.main {
  display: flex;
}

.container {
  margin-right: 50px;
  height: 100px;
  width: 100px;
}

#top {
  background-color: aqua;
  border-top: 1px solid black;
}

#right {
  background-color: rgb(207, 234, 127);
  border-right: 1px solid black;
}

#left {
  background-color: #0c79b0;
  border-left: 1px solid black;
}

#bottom {
  background-color: rgba(220, 126, 126, 0.792);
  border-bottom: 1px solid black;
}

.pseudo {
  height: 100px;
  width: 100px;
  margin-top: 40px;
  background-color: rgb(173, 44, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pseudo:hover {
  background-color: rgb(36, 143, 47);
  color: antiquewhite;
  transition: ease-in;
  rotate: 20deg;
  height: 200px;
  width: 200px;
  margin-left: 100px;
}

a:active {
  color: red;
}

/* a:visited{
  color: yellow;
} */

.pseudo-element ::selection {
  background-color: rgb(0, 225, 255);
  color: white;
}

.pseudo-element ::first-letter {
  color: chartreuse;
}

.pseudo-element p::first-line {
  color: brown;
}

.pseudo-element ::before {
  background-color: rgb(27, 53, 100);
  content: "Hello World";
}

.pseudo-element ::after {
  background-color: rgb(241, 39, 13);
  content: "Good Bye World";
}

.block {
  display: block;
  background-color: cadetblue;
}

.inline {
  display: inline;
  background-color: #c23535;
  height: 40px;
}

.inline-block {
  display: inline-block;
  background-color: darkgreen;
  height: 40px;
}

.flex-main {
  background-color: aqua;
  display: flex;
}

.grid-main {
  background-color: #0c79b0;
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  /* position: fixed; */
}

.sticky {
  position: sticky;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 1px;
  height: 400px;
}

#car-img:hover {
  transform: scale(1.2);
}

.square-bullets {
  list-style-type: square;
}

.inside-bullets {
  list-style-type: disc;
  list-style-position: inside;
}

.outside-bullets {
  list-style-type: disc;
  list-style-position: outside;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.img-container img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  visibility: visible;
}

.visibility-section h3 {
  text-align: center;
}

#nature-img:hover {
  visibility: hidden;
}

.cursors-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
}

.cursor-heading {
  margin-top: 40px;
  text-align: center;
}

.cursor-box {
  display: flex;
  border: 2px dashed rgba(34, 33, 33, 0.39);
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
.auto {
  cursor: auto;
}
.all-scroll {
  cursor: all-scroll;
}
.copy {
  cursor: copy;
}
.default {
  cursor: default;
}
.move {
  cursor: move;
}
.progress {
  cursor: progress;
}
.help {
  cursor: help;
}

.btn {
  margin-top: 30px;
  margin-left: 50px;
  width: 160px;
  padding: 12px 0;
  text-align: center;
  background-color: #45be64;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:active {
  color: black;
  background-color: #0be41d;
}

.filter-container {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.filter-box img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.brightness {
  filter: brightness(3);
}

.blur {
  filter: blur(2px);
}
.sepia {
  filter: sepia();
}

.grayscale {
  filter: grayscale();
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.contrast {
  filter: contrast(2);
}

.drop-shadow {
  filter: drop-shadow(9px 9px 10px rgb(22, 21, 21));
}

.filter-heading {
  text-align: center;
}

.color-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.color-box {
  width: 140px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 6px;
}

.hex {
  background-color: #ff5733;
}

.rgb {
  background-color: rgb(52, 152, 219);
}

.rgba {
  background-color: rgba(52, 152, 219, 0.5);
}

.hsl {
  background-color: hsl(280, 60%, 55%);
}

.hsla {
  background-color: hsla(280, 60%, 55%, 0.5);
}

.name {
  background-color: blue;
}

.color-heading {
  text-align: center;
}

.selector-container {
  display: flex;
}

.selector-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #0be41d;
}

.cclass {
  color: rebeccapurple;
}

#idd {
  color: #ff5733;
}

.groupp1,
.groupp2 {
  background-color: #7e833a;
}

/* *{
  background-color: rgba(241, 235, 227, 0.363);
} */

.shadow {
  margin-left: 200px;
  margin-top: 20px;
  height: 150px;
  width: 150px;
  background-color: hsl(32, 81%, 48%);
  text-align: center;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
  text-shadow: 3px 3px 2px rgba(17, 13, 13, 0.979);
}

.radial-gradient{
  
}