.main {
  display: flex;
}

.container {
  margin-right: 50px;
  height: 100px;
  width: 100px;
}

#top {
  background-color: aqua;
  border-top: 1px solid black;
}

#right {
  background-color: rgb(207, 234, 127);
  border-right: 1px solid black;
}

#left {
  background-color: #0c79b0;
  border-left: 1px solid black;
}

#bottom {
  background-color: rgba(220, 126, 126, 0.792);
  border-bottom: 1px solid black;
}

.pseudo {
  height: 100px;
  width: 100px;
  margin-top: 40px;
  background-color: rgb(173, 44, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pseudo:hover {
  background-color: rgb(36, 143, 47);
  color: antiquewhite;
  transition: ease-in;
  rotate: 20deg;
  height: 200px;
  width: 200px;
  margin-left: 100px;
}

a:active {
  color: red;
}

/* a:visited{
  color: yellow;
} */

.pseudo-element ::selection {
  background-color: rgb(0, 225, 255);
  color: white;
}

.pseudo-element ::first-letter {
  color: chartreuse;
}

.pseudo-element p::first-line {
  color: brown;
}

.pseudo-element ::before {
  background-color: rgb(27, 53, 100);
  content: "Hello World";
}

.pseudo-element ::after {
  background-color: rgb(241, 39, 13);
  content: "Good Bye World";
}

.block {
  display: block;
  background-color: cadetblue;
}

.inline {
  display: inline;
  background-color: #c23535;
  height: 40px;
}

.inline-block {
  display: inline-block;
  background-color: darkgreen;
  height: 40px;
}

.flex-main {
  background-color: aqua;
  display: flex;
}

.grid-main {
  background-color: #0c79b0;
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  /* position: fixed; */
}

.sticky {
  position: sticky;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 1px;
  height: 400px;
}

img:hover {
  transform: scale(1.2);
}

.square-bullets {
  list-style-type: square;
}

.inside-bullets {
  list-style-type: disc;
  list-style-position: inside;
}

.outside-bullets {
  list-style-type: disc;
  list-style-position: outside;
}
